@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pinyon+Script&display=swap");

.home {
  /* height: 100% !important; */
  padding-top: 10px;
  padding-bottom: 10px;
}
.home__container {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  background-color: #a8e6d2;
  margin-top: 20px;
}

.home__img {
  /* width: 50%; */
  max-width: 470px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.home__title__container {
  padding: 10px;
  display: block;
  margin-right: 100px;
  margin-bottom: 10px;
}

.home__text__container {
  margin-top: 200px;
  text-align: center;
}

.home__title__main {
  font-size: 70px;
  /* text-align: center; */
  /* font-family: "Dancing Script", cursive; */
  font-family: "Pinyon Script", cursive;
}

.home__button {
  background-color: #141414 !important;
  color: #fff !important;
  width: 200px;
  height: 50px;
  font-weight: bold;
  border-radius: 5px;
}

/* media queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .home {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home__container {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .home__img {
    width: 100%;
    height: auto;
    /* margin-bottom: 50px; */
    margin-right: 0;
    margin-left: 0;
  }
  .home__title__container {
    display: block;
  }

  .home__title__main {
    font-size: 40px;
    text-align: center;
    margin-bottom: 75px;
  }

  .home__text__container {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  #textb4-button {
    margin-top: 75px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .home {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home__container {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .home__img {
    width: 100%;
    height: auto;
    /* margin-bottom: 50px; */
    margin-right: 0;
    margin-left: 0;
  }
  .home__title__container {
    display: block;
  }

  .home__title__main {
    font-size: 40px;
    text-align: center;
    margin-bottom: 75px;
  }

  .home__text__container {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  #textb4-button {
    margin-top: 75px;
    margin-bottom: 0px;
  }
}

/* iPad 1, 2, Mini and Air */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .home {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home__container {
    display: block;
    margin-bottom: 20px;
    width: 100%;
       text-align: center;
  }

  .home__img {
    width: 100%;
    height: auto;
    /* margin-bottom: 50px; */
  
 
  }
  .home__title__container {
    display: block;
  }

  .home__title__main {
    font-size: 40px;
    text-align: center;
    margin-bottom: 75px;
  }

  .home__text__container {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  #textb4-button {
    margin-top: 75px;
    margin-bottom: 0px;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .home {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home__container {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .home__img {
    width: 100%;
    height: auto;
    /* margin-bottom: 50px; */
    margin-right: 0;
    margin-left: 0;
  }
  .home__title__container {
    display: block;
  }

  .home__title__main {
    font-size: 40px;
    text-align: center;
    margin-bottom: 75px;
  }

  .home__text__container {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  #textb4-button {
    margin-top: 75px;
    margin-bottom: 0px;
  }
}
