@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pinyon+Script&display=swap");

.navbar__container {
  position: sticky !important;
  top: 0;
  overflow: hidden;
  z-index: 100;
  background-color: white;
}

.navbar__logo {
  font-family: "Pinyon Script", cursive;
}

.heart {
  color: rgb(252, 167, 183);
}
